<html xmlns:th="http://www.w3.org/1999/xhtml">
<script src="https://accounts.google.com/gsi/client" async defer></script>

<div id="g_id_onload"
     data-client_id="701595760256-vj63pgd7legq7mn8s1eie7e6dtg5u4h6.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     th:data-login_uri="${callBackUrl}"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>
</html>